{% extends "base.html" %}

{# We don't want scripts #}
{% block scripts %}
{% endblock %}

{% block content %}
<p>
	<h2>Inserir um novo incidente:</h2>
Para inserir um novo incidente você deve preencher corretamente o formulário abaixo.</p>

<form action="" method="POST" >

<input class="hidden" type="hidden" name="lat" value="{{lat}}" id="lat" />
<input class="hidden" type="hidden" name="lng" value="{{lng}}" id="lng" />

<p>
{% ifequal desc "" %}
	<font color="red"><strong>Por favor, preencha a descrição</strong></font><br/>
{% endifequal %}
<strong>Escreva uma breve descrição do incidente:</strong><br/>
<textarea name="desc" class="desc" rows="5" cols="50">{{desc}}</textarea>
</p>

<p>
{% ifequal mobility "" %}
	<font color="red"><strong>Por favor, selecione uma das opções</strong></font><br/>
{% endifequal %}
<strong>Quando ocorreu o incidente:</strong><br/>
<input type="radio" name="mobility" value="WK" {% ifequal mobility "WK" %}checked="checked"{%endifequal%}>Eu estava a pé, caminhando.<br/>
<input type="radio" name="mobility" value="VE" {% ifequal mobility "VE" %}checked="checked"{%endifequal%}>Eu estava dentro de um veículo.
</p>

<p>
{% ifequal quantity "" %}
	<font color="red"><strong>Por favor, selecione uma das opções</strong></font><br/>
{% endifequal %}
<strong>Quanto as pessoas que estavam com você:</strong><br/>
<input type="radio" name="quantity" value="AL" {% ifequal quantity "AL" %}checked="checked"{%endifequal%}>Eu estava sozinho.<br/>
<input type="radio" name="quantity" value="FO" {% ifequal quantity "FO" %}checked="checked"{%endifequal%}>Havia outras pessoas comigo.
</p>

<p>
{% ifequal thief "" %}
	<font color="red"><strong>Por favor, selecione uma das opções</strong></font><br/>
{% endifequal %}
<strong>Quanto a seus agressores:</strong><br/>
<input type="radio" name="thief" value="ON" {% ifequal thief "ON" %}checked="checked"{%endifequal%}>Era somente um bandido.<br/>
<input type="radio" name="thief" value="MA" {% ifequal thief "MA" %}checked="checked"{%endifequal%}>Eram vários bandidos.<br/>
</p>

<p>
{% ifequal weapon "" %}
	<font color="red"><strong>Por favor, selecione uma das opções</strong></font><br/>
{% endifequal %}
<strong>Quanto a arma do crime:</strong><br/>
<input type="radio" name="weapon" value="NN" {% ifequal weapon "NN" %}checked="checked"{%endifequal%}>Eu não tenho certeza se havia uma arma ou eu não consegui ver.<br/>
<input type="radio" name="weapon" value="MW" {% ifequal weapon "MW" %}checked="checked"{%endifequal%}>Uma arma branca (faca, canivete, vidro etc) ou semelhante.<br/>
<input type="radio" name="weapon" value="GN" {% ifequal weapon "GN" %}checked="checked"{%endifequal%}>Uma arma de fogo (revolver, pistola etc).
</p>

<p>
{% ifequal period "" %}
	<font color="red"><strong>Por favor, selecione uma das opções</strong></font><br/>
{% endifequal %}
<strong>Quanto ao período do dia:</strong><br/>
<input type="radio" name="period" value="MO" {% ifequal period "MO" %}checked="checked"{%endifequal%}>Foi de manhã.<br/>
<input type="radio" name="period" value="EV" {% ifequal period "EV" %}checked="checked"{%endifequal%}>Foi a tarde.<br/>
<input type="radio" name="period" value="NI" {% ifequal period "NI" %}checked="checked"{%endifequal%}>Foi de noite ou na madrugada.<br/>
</p>

<input type="submit" name="submit" value="Inserir incidente!">

</form>


{% endblock content %}
